{% extends 'base.html' %}
{% block title %}
    <title>Collaborations</title>
{% endblock %}
{% block content %}
    <div class="div-form">
        <p>
            <a class="btn btn-primary" href="{% url 'create_collaboration' %}">Add collaboration</a>
        </p>
        {% if collaborations %}
            <ul>
                {% for collaboration in collaborations %}
                    <li>
                        <a href="{% url 'view_collaboration' collaboration.id %}"> {{collaboration.song.title}} - {{collaboration.artist.name}} </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p> No collaboration found.</p>
        {% endif %}
    </div>
{% endblock %}