{% extends 'base.html' %}
{% block title %}
    <title>Artists</title>
{% endblock %}
{% block content %}
    <div class="main">
        <p>
            <a class="btn btn-primary" href="{% url 'create_artist' %}">Add artist</a>
        </p>
        {% if artists %}
            <ul>
                {% for artist in artists %}
                    <li>
                        <a href="{% url 'view_artist' artist.id %}"> {{artist.name}} - {{artist.first_name}} {{artist.last_name}} </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p> No artist found.</p>
        {% endif %}
    </div>
{% endblock %}