{% extends 'base.html' %}
{% block title %}
    <title>Artists</title>
{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 offset-2">
                <form>
                    <div class="input-group">
                        <input type="text" name="q" class="form-control form-control-lg" placeholder="Search" />
                        <div class="input-group-append">
                        <button class="btn btn-dark btn-lg" type="submit" id="button-addon2">Search</button>
                        </div>
                    </div>
                </form>
                <p>
                    <a class="btn btn-primary btn-add-list" href="{% url 'create_artist' %}">Add artist</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        {% for artist in page_obj %}
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h4 class="card-title"><a href="/artists/{{artist.id}}">{{artist.name}}</a></h4>
                <p class="card-text">{{artist.last_name}} {{artist.first_name}}</p>
                <p class="card-text">{{artist.mail}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
    <nav class="my-3 container">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                 <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
            {% endif %}
        </ul>
      </nav>
    {% endif %}

{% endblock %}