{% extends 'base.html' %}

{% block title %}
    <title> {{artist.name}} </title>
{% endblock %}

{% block content %}
    <div class="div-form">
        <h1>{{ artist.name }}</h1>
        <h2>{{ artist.first_name }} {{ artist.last_name }}</h2>
        <p> Gender - {{ artist.gender }}</p>
        <p> Phone - {{ artist.phone }}</p>
        <p> Mail - {{ artist.mail }}</p>

        <a class="btn btn-warning" href="{% url 'update_artist' artist.id %}">Update artist</a>
        <a class="btn btn-danger" href="{% url 'delete_artist' artist.id %}">Delete artist</a>
    </div>

{% endblock %}